*.tar.gz

*.exe
src/bitcoin
src/bitcoind
src/bitcoin-cli
src/bitcoin-tx
src/test/test_bitcoin
src/test/test_bitcoin_fuzzy
src/qt/test/test_bitcoin-qt

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/config/bitcoin-config.h
src/config/bitcoin-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

src/qt/bitcoin-qt.config
src/qt/bitcoin-qt.creator
src/qt/bitcoin-qt.creator.user
src/qt/bitcoin-qt.files
src/qt/bitcoin-qt.includes

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
bitcoin-qt
Bitcoin-Qt.app
background.tiff*

# Unit-tests
Makefile.test
bitcoin-qt_test

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_bitcoin.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*

!src/leveldb*/Makefile

/doc/doxygen/

libbitcoinconsensus.pc
contrib/devtools/split-debug.sh

\.idea/bitcoin\.iml

\.idea/codeStyles/Project\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml

cmake-build-debug/bitcoin\.cbp

cmake-build-debug/cmake_install\.cmake

cmake-build-debug/CMakeCache\.txt

cmake-build-debug/CMakeFiles/3\.12\.2/CMakeCCompiler\.cmake

cmake-build-debug/CMakeFiles/3\.12\.2/CMakeCXXCompiler\.cmake

cmake-build-debug/CMakeFiles/3\.12\.2/CMakeDetermineCompilerABI_C\.bin

cmake-build-debug/CMakeFiles/3\.12\.2/CMakeDetermineCompilerABI_CXX\.bin

cmake-build-debug/CMakeFiles/3\.12\.2/CMakeSystem\.cmake

cmake-build-debug/CMakeFiles/3\.12\.2/CompilerIdC/a\.out

cmake-build-debug/CMakeFiles/3\.12\.2/CompilerIdC/CMakeCCompilerId\.c

cmake-build-debug/CMakeFiles/3\.12\.2/CompilerIdCXX/a\.out

cmake-build-debug/CMakeFiles/3\.12\.2/CompilerIdCXX/CMakeCXXCompilerId\.cpp

cmake-build-debug/CMakeFiles/bitcoin\.dir/build\.make

cmake-build-debug/CMakeFiles/bitcoin\.dir/C\.includecache

cmake-build-debug/CMakeFiles/bitcoin\.dir/cmake_clean\.cmake

cmake-build-debug/CMakeFiles/bitcoin\.dir/CXX\.includecache

cmake-build-debug/CMakeFiles/bitcoin\.dir/depend\.internal

cmake-build-debug/CMakeFiles/bitcoin\.dir/depend\.make

cmake-build-debug/CMakeFiles/bitcoin\.dir/DependInfo\.cmake

cmake-build-debug/CMakeFiles/bitcoin\.dir/flags\.make

cmake-build-debug/CMakeFiles/bitcoin\.dir/link\.txt

cmake-build-debug/CMakeFiles/bitcoin\.dir/progress\.make

cmake-build-debug/CMakeFiles/clion-environment\.txt

cmake-build-debug/CMakeFiles/clion-log\.txt

cmake-build-debug/CMakeFiles/cmake\.check_cache

cmake-build-debug/CMakeFiles/CMakeDirectoryInformation\.cmake

cmake-build-debug/CMakeFiles/feature_tests\.bin

cmake-build-debug/CMakeFiles/feature_tests\.c

cmake-build-debug/CMakeFiles/feature_tests\.cxx

cmake-build-debug/CMakeFiles/Makefile\.cmake

cmake-build-debug/CMakeFiles/Makefile2

cmake-build-debug/CMakeFiles/progress\.marks

cmake-build-debug/CMakeFiles/Progress/count\.txt

cmake-build-debug/CMakeFiles/TargetDirectories\.txt
